@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Lobster&family=Open+Sans&display=swap');

/* Estilização geral */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Centralização e margens */
main, header, footer {
    gap: 20px;
    width: 80%;
    margin: 40px auto;
    background-color: #363535;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(108, 108, 108, 0.511);
}

/* Header */
header
{
    padding: 40px 4%;
    text-align: center;
    background-color: rgb(155, 31, 31);
    color: white;
}

header h1 
{
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 2.0rem;
    margin: 0;
}

.h2-sobre
{
    text-align: center;
    color:red
}

main p 
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

/* Navegação */
nav {
    margin-top: 10px;
}

nav a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    margin: 0 15px;
    color: #adadad;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #FFD700;
    transform: .2s;
}

.video 
{
    gap: 2px;
    justify-content: center;
    text-align: center;
}

.video h2 
{
    color: red;
}

#h2-produtos
{
    text-align: center;
}

/* Estilização de tabelas */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: red;
    color: white;
    font-weight: bold;
}

table tbody tr:nth-child(odd) {
    background-color: #000000;
}

table tbody tr:hover {
    background-color: #FFD700;
}

/* Imagens lado a lado */

.container {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between; 
    margin: auto 0;
    padding: 20px;
}



div img {
    width: 18%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

div img:hover {
    transform: scale(1.1);
}

/* Pseudo-classes */
a:visited {
    color: #aaa;
}

button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #FFD700;
}

/* Footer */
footer {
    text-align: center;
    background-color: red;
    color: white;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
}

.align
{
    text-align: center;
}

#telefone, #instagram-contato {
    text-align: center;
    margin: 30px 0;
}

#telefone p {
    text-align: center;
    font-size: 1.2rem;
}


#instagram-contato button {
    text-align: center;
    justify-content: center;
    padding: 12px 30px;
    font-size: 1.2rem;
    background-color: #3f729b;
    border-radius: 5px;
}

#instagram-contato button:hover {
    background-color: #2d5676;
}


#cadastro-promocoes {
    text-align: center;
    justify-content: center;
    background-color: #333;
    padding: 20px;
    margin-top: 30px;
    border-radius: 8px;
}

input[type="checkbox"] {
    margin-right: 10px;
}



.avaliacoes {
    margin-top: 20px;
}

.avaliacao {
    background-color: #434343;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.form-dois input, textarea 
{
    width: 100%;
    background-color: rgb(50, 44, 44);
    border: none;
    outline: none;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}


.form-dois {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    margin-top: 40px;
}


.sobre {
    padding: 20px;
    background-color: #3a3a3a;
}

.equipe {

    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.membro {
    background-color: #393939;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
}

.membro img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.membro h4 {
    margin-top: 10px;
    font-size: 1.2em;
}

.membro p {
    font-size: 0.9em;
    color: #ffffff;
}

.align span 
{
    color: red;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.logo
{
    height: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.logo img 
{
    width: auto;
    height: 15vh;
}
